.feed-status {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1rem;
    color: var(--color-text);

    & a {
        color: var(--color-primary);
    }

    & a:hover {
        color: var(--color-primary-hover);
    }
}

@media (680px <= width < 1000px) {
    .feed-status:not(.syncing) .feed-status-legend {
        display: none;
    }
}
